body { 
	background: #cfe2f0;
	font-size:1.3em;
	line-height:1.2em;
}

.right { 
	text-align:right;
}

ul.doughnut-legend{
	font-size: 150%;
	margin-top: 5%;
}

li {
margin-top: 4px;
max-width: 200px;
}

li:hover {
background-color: #EEE;
}

li > span {
padding-right: 8px;
}