

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Angular Chart.js Wrapper Stocks Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project name</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
	
	<div ng-app="angles">
	    <div class="container" ng-controller="angCtrl">
	      <div class="row-fluid">
	      	<div class="span12" style="margin:40px 0;">	
			  	<canvas linechart options="chart.options" data="chart.data" id="lineChart" width="1200" height="400"></canvas>
	      	</div>
	      </div>
	      <input type="text" ng-model="symbol" /> <button ng-click="update()">Update</button>
	    </div> <!-- /container -->
	</div>
	

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../libs/angular/angular.min.js"></script>
    <script src="../../libs/Chart.js/Chart.min.js"></script>
    <script src="../../libs/anglechart.js"></script>
    <script src="app.js"></script>
  </body>
</html>
